<div>
	<div class="container">
		<% if signed_in? %>
			<div class="lead welcome-user"> 
				<p class="titleSize"><%= @couple.name1 %> and <%= @couple.name2 %> here is where you can edit your registry, your theam curently is </p>	
				<p class="center-block"> <%=form_for @registry, url: "/couples/#{@couple.id}/registries/#{@registry.id}", method: :put do |p|%></p>
						<div class="input-group">
							<%=p.text_field :theam, placeholder: "#{@registry.theam}", class: "form-control" %>
						</div> <span>
						<%=p.submit "Update Theam", class: "signInButton2" %>
						</span>
						<br>
						<hr>
				<%end%>
			</div>	

				<button class="signInButton2"><%= link_to "add Item", new_registry_item_path(@registry), method: :get%></button>
				<br>
				<hr>
				<% @items.each do |f| %>
					<p> <%= f['name'] %> </p> 
					<p> $<%= f['price'] %>.00</p>
					<p> <%= f['description'] %></p>
					<button class="signInButton2"><%= link_to "edit this item", edit_item_path%></button>
					<%= button_to "Delete Item", item_path, method: :delete, data: {confirm: "Are you sure?"}, class: "signInButton2" %>
				<br>
				<hr>
				<% end %>



				

		
		<%end%> <!-- if sined in -->
	
	</div>
</div>